fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--- Starting to layout the landing page---*/
/*--- Adding max-width, height, margin,padding and font-family to the html and body elements---*/
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #f7f7ff;
}

/*--- Using grid to the main page in the landing page to style it ---*/
.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
	padding: 1rem;
	background-color: #f7f7ff;
	background-image: url(images/bg-image/scooter.svg);
	background-repeat: no-repeat;
	background-position: center 50%;
	background-size: 50%;
}

/*--- Using flex to the header to be flexable ---*/
.header {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin: 0 auto;
}

/*--- Using flex to the dash logo to start the page ----*/
.dlogo {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 120px;
	padding-left: 40px;
}

/*--- Using flex to the h1 in the main page ----*/
.boss {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 20px;
}

/*----Using flex to the paragraph in the main page ------*/
.parag {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 20px;
	font-size: 15px;
}

/*---  Using flex to the section form in the main page ----*/
.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	border: 1px solid grey;
	border-radius: 20px;
	background-color: white;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
	padding: 15px;
	width: 320px;
	padding-top: 20px;
	margin: 70px;
	border: none;
}

/*--- Using grid-column to the section form to select at the end of the grid ---*/
.section {
	grid-column: 4/6;
}

/*--- Using flex to the apply-now form to be flexable ---*/
.apply-now {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/*--- Using font-weight: normal to the font on enter your info -----*/
.enter {
	font-weight: normal;
}

/*--- Using display block to the input to style it---*/
input {
	display: block;
	width: 90%;
	padding: 12px;
	border-radius: 10px;
	margin: 10px;
	background-color: whitesmoke;
	border-style: none;
}

/*--- Using flex to the button to center the content and change the background-color ----*/
.btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 95%;
	padding: 5px;
	border-radius: 10px;
	margin: 10px;
	background-color: #57eeab;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
}

/*--- Using flex to agree lable to justify it start ----*/
.agree {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin-left: 40px;
	font-size: 14px;
}

/*--- Using margin-left and margin-bottom to put the checkbox before I agree ---*/
#checkbox {
	margin-left: -130px;
	margin-bottom: -15px
}

/*---Changing the font-size of Already applied ----*/
.already {
	font-size: 13px;
}

/*---Changing the color of the font of the cheak link----*/
.cheak {
	color: #ff8480;
}

/*---- Using display block to the footer and change the background-color-----*/
footer {
	display: block;
	padding: 30px;
	background-color: #fffd8c;
}

/*--- Using flex to the calculator-form to be flexable---*/
.cal {
	display: flex;
	flex-wrap: wrap;
}

/*--- Using the width and margin-left to the hours in the form to style it---*/
#hours {
	width: 100px;
	margin-left: 30px;
}

/*--- Using width to the city in the form to style it ---*/
#city {
	width: 200px;
}

/*--- Changing the background-color of the button calculater and the font color ---*/
.calculate {
	background-color: #ff8480;
	width: 150px;
	font-size: medium;
	font-weight: bolder;
	color: white;
	border-radius: 20px;
	width: 150px;
	border: 0 solid;
	margin: 10px;

}

/*--- Using display-flex to the social media icons in the footer---*/
/*--Using display flex to the class social in the footer--*/
.social {
	display: flex;
	justify-content: flex-end;
}

/*--- Using display flex to the instagram icon ---*/
.insta {
	display: flex;
	flex-wrap: wrap;
	margin-top: -50px;
	margin-right: 50px;
}

/*--- Using display flex to the twitter icon ---*/
.twite {
	display: flex;
	flex-wrap: wrap;
	margin-top: -50px;
	margin-right: 50px;
}

/*--- Using display flex to the facebook icon ---*/
.facebook {
	display: flex;
	flex-wrap: wrap;
	margin-top: -50px;
	margin-right: 50px;
}

/*--- Using display flex to the link icon ---*/
.link {
	display: flex;
	flex-wrap: wrap;
	margin-top: -50px;
	margin-right: 150px;
}

/*--- Using margin left to the header in the footer to be like a mock---*/
.see {
	margin-left: 30px;
}

/*--- Using margin to the paragraph in the footer--*/
.how {
	margin-left: 30px;
}

/*--- Adding media queries to the desktop which is max-width 1920px and height 1080px ---*/
@media screen and (min-width:1920px) {
	.main {
		margin-bottom: -190px;
	}

	/*--- Adding margin-top to fix the size of the footer---*/
	footer {
		margin-top: 183px;
	}

	/*--- Adding font-size to the head of the main page to change the size of it---*/
	.boss {
		font-size: 90px;
	}

	/*--- Adding font size to the paragraph in the heade of the main page to change the size of it---*/
	.parag {
		font-size: 25px;
		margin-top: 17%;
	}

	/*---- Fixing the size of the form in the page to be like the mock---*/
	.section {
		margin-right: 160px;
		width: 450px;
		height: 550px;
	}

	/*--- Fixing the margin and the font-size of the h2 in the form apply-now---*/
	.apply {
		margin-left: 15px;
		font-size: 30px;
	}

	/*--- fixing the margin-left of the h3 in the form which is under the class enter---*/
	.enter {
		margin-left: 15px;
	}

	/*--- Fixing the margin left to the already which ia the last sentence in the form section---*/
	.already {
		margin-left: 15px;
	}

	/*--- Adding margin-right to the checkbox in the form to fix it ---*/
	#checkbox {
		margin-right: 260px;
	}

	/*--- Changing the font-size of the already sentence in the form section---*/

	.already {
		font-size: 16px;
	}

	/*---Changing the font-size of the calculate in the footer---*/
	.calculate {
		font-size: 20px;
	}

}


/*--- Adding media queries to tablet max-width 768px and the height will be 1715px---*/
@media screen and (max-width:768px) {
	.main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		background-position: center 34%;
		background-size: 60%;
		grid-template-areas: "header header header"
			"main main main"
			"aside aside aside";
	}

	/*--- Adding grid to the vehicle class in the main page which is the class of the h1 and the paragraph---*/
	.vehicle {
		grid-area: header;
		margin-left: 70px;
	}

	/*--- Adding grid-area to the section to fix the main page to be as a mock---*/
	.section {
		grid-area: aside;
		justify-self: center;
		width: 470px;
		margin-top: -20%;
		height: 110%;
		border: none;
	}

	/*--- Adding margin-left to apply class to fix it ---*/
	.apply {
		margin-left: 20px;
	}

	/*--Adding margin-left to the enter sentence in the form to fix it---*/
	.enter {
		margin-left: 20px;
	}

	/*--- Adding margin to the button (DRIVE WITH US) to fix it ---*/
	.btn {
		margin: 10px;
	}

	/*--- Adding the margin to the already sentence to fix it in this width---*/
	.already {
		margin-left: 50px;
	}

	/*--- Changing thefont-size of the paragraph in the main page---*/
	.parag {
		font-size: 25px;
	}

	/*--- Changing the font-size of the h1 in the main page ----*/

	.boss {
		font-size: 80px;
	}

	/*--- Changing the margin of the logo in the header---*/

	.dlogo {
		margin-left: 70px;
		margin-top: 10px;
	}

	/*---- Adding display-flex to the class cal whic is contain the input and button form---*/
	.cal {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	/*--- Adding display-flex to the h4 in the footer to start the footer section---*/
	.see {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-left: 100px;
	}

	/*--- Adding margin left to the paragraph in the footer section---*/
	.how {
		margin-left: 100px;
	}

	/*--- Adding margin-left and bottom to the checkbox input to fix it ---*/
	#checkbox {
		margin-left: -170px;
		margin-bottom: 5px;
	}

	/*---- Adding margin-left and padding-top to the agree sentence in the form section---*/
	.agree {
		margin-left: -190px;
		padding-top: 10px;
	}

	/*--- Adding display-flex to the social class in the icons div to fix it ---*/
	.social {
		display: flex;
		flex-wrap: wrap;
		margin: 40px;
		padding-top: 20px;
	}

	/*---- Adding display-flex to the facebook icon to fix the order of it---*/
	.facebook {
		display: flex;
		flex-wrap: wrap;
	}

	.facebook {
		order: -1;
	}

	/*--- Adding margin to the footer to fix the size of it ---*/
	footer {
		margin-top: -5px;
	}


}

/*--- Adding media queries to the mobile max-width 375px and the height is 1598px ----*/
@media screen and (max-width: 375px) {
	.main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		background-position: center 37%;
		background-size: 85%;
		grid-template-areas: "header header header"
			"main main main"
			"aside aside aside";
	}

	/*--- Adding margin to the logo to fix the size of the max-width 375px----*/
	.dlogo {
		margin-left: -20px;
		margin-top: 10px;
	}

	/*--- Adding grid-area to the h1 and the paragraph in the main page to fix it----*/
	.vehicle {
		grid-area: header;
		margin-left: -10px;
	}

	/*--- Adding display-flex to the h1 in the main page and change the font size to suite the screen size----*/
	.boss {
		display: flex;
		justify-content: flex-start;
		font-size: 60px;
	}

	/*--- Adding margin and changing the font-size of the paragraph in the main page to suite the screen size of the moblie---*/
	.parag {
		margin-top: -10px;
		font-size: 15px;
		margin-right: 50px;
	}

	/*--- Adding grid area to the section which is the foem in main page to fix it and to suite the screen mobile---*/
	.section {
		grid-area: aside;
		width: 250px;
		margin-right: -50px;
		margin-left: -50px;
		margin-top: -160px;
		height: 430px;
		border: none;
	}

	/*--- Changing  margin in the sentence already ---*/
	.already {
		margin-left: 10px;
		margin-top: -2px;
	}

	/*--- Changing the font size and the margin to the enter sentence in the form to fix it---*/
	.enter {
		font-size: 15px;
		margin-left: 20px;
		margin-top: -15px;
	}

	/*---- Adding display-flex to the h2 in the form -----*/
	.apply {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 30px;
		font-size: 30px;
		margin-top: -5px;
	}

	/*--- Adding margin to the agree sentence in the form ----*/
	.agree {
		margin-left: 40px;
	}

	/*--- Adding margin to the checkbox to fix it----*/
	#checkbox {
		margin-left: -90px;
		margin-bottom: -30px;
	}

	/*--- Adding margin to the h4 in the footer---*/
	.see {
		margin-left: 5%;
	}

	/*--- Adding margin to the paragraph in the footer to fix it ---*/
	.how {
		margin-left: 5%;
		margin-top: -15px;
	}

	/*--- Adding margin and width to the hours in the calculator form ----*/
	#hours {
		margin-left: -5px;
		width: 40px;
	}

	/*---- Adding margin and width to the city in the calculator form----*/
	#city {
		margin-right: -20px;
		width: 180px;
	}

	/*--- Adding flex grow to the calculate button to fix it and to suite the mock----*/
	.calculate {
		flex-grow: 1;
		padding: 10px;
		font-size: 30px;
	}

	/*--- Adding display-flex to the social icons to be like the mock ---*/
	.social {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	/*--- Adding order to the facebook to fix it ----*/
	.facebook {
		order: -1;
		margin: 10px;
		margin-top: -52px;
		margin-left: -50px;

	}

	/*---- Adding display flex to the linkedin icon to fix it---*/
	.link {
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;
	}

	/*---- Adding margin-left to the instagram icon to fix it and to be as a mock ----*/
	.insta {
		margin-left: 20px;
	}

	/*--- Fixing the footer size by add the margin to the top and right-----*/
	footer {
		margin-top: 20px;
		margin-right: -15px;
	}
}