body html {
    font-family: 'Raleway', sans-serif;

}

/*--style the body for all pages--*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*--Styling the nav bar in all pages--*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*--- style navigation-bar which I add transition to the ul and animation to the logo ---*/

/*--Styling the body of the home page---*/
.home {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*--Styling the nav bar on mobile width which I add background color, height and width on all pages (home,about and contact)--*/
nav {
    background: #3c3b3a;
    height: 300px;
    width: 100%;

}

/*--- Styling the links on the nav bar on all pages---*/
ul li a {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
}

/*--Adding hover to the color of the links on the nav bar to change it on all pages---*/
a:hover,
a:active {
    background: none;
    color: #1e7d81;
}

/*--Adding padding among the links on all pages ---*/
nav ul li a {
    padding: 5px 5px;
}

/*---Styling the logo on the home page ---*/
.logo {
    width: 15%;
    margin-left: 210px;
    position: relative;
    bottom: 30px;
    animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
    cursor: pointer;
}

/*---Adding hover to the logo and transform to make animation for it on all pages--*/
.logo:hover {
    transform: rotate(10deg) scale(1.1);
}

/*--Adding animation to the logo to transform it as scale property on all pages---*/
@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
        transform: scale(.10);
    }

    100% {
        opacity: 1;
        transform: scale(5);
    }
}

/*---Styling the h1 on the home page--*/
.dental {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    color: white;
}

/*--Styling all the button on all pages---*/
button {
    background-color: #1e7d81;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0 5px #3c3b3a;
    margin-left: 100px;
    font-weight: bold;
    margin-bottom: 90px;
    position: relative;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

button:hover {
    background-color: #ff8480;
}

/*---Styling the call-to-action which I add display flex to make it on the center of the page on the home page---*/
.welcome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    transition: 5s;
    color: #ff8480;
}

/*--Adding background image to the main and make it to transform on the main on the home page--- */
.content {
    background: url("../image/zaina clinic 1 img.jpg") no-repeat center center;
    background-size: 100%;
    transition: 10s;
}

/*--Adding background image on the call-to-action on the home page--- */
.call-to-action {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    background-image: url(../image/dr.david.jpg);
    background-repeat: no-repeat;

}

/*--Styling paragraph1 on the home page---*/
.paragraph1 {
    font-weight: bold;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
}

/*--Styling the old women image on the home page---*/
.women {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

/*---Styling the header image on the home page---*/
.girl {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    box-shadow: #908d8b 5px 5px 5px 5px;

}

.women {
    width: 70%;
    padding-left: 15px;

}

/*---Styling the button (book an appointment) on the home page---*/
.book {
    display: flex;
    justify-content: center;
    left: 40px;
    top: 50px;

}

/*--Styling paragraph2 on the home page---*/
.paragraph2 {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 400px;

}

/*--Styling read more and add animation and neon shadow to it  on the home page---*/

#neonshadow {
    position: relative;
    left: 220px;
    top: 40px;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    background-color: rgba(156, 161, 160, 0.3);
    animation: glow 1s infinite;
    transition: 0.5s;
}

span {
    display: block;
    color: #1e7d81;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    transition: 0.3s;
    opacity: 0;
}

span:hover {
    transition: 0.3s;
    opacity: 1;
    font-weight: 700;
}

#neonshadow:hover {
    transform: translateX(-20px)rotate(30deg);
    border-radius: 5px;
    background-color: #c3bacc;
    transition: 0.5s;
}

@keyframes glow {
    0% {
        box-shadow: 5px 5px 20px rgb(211, 90, 100), -5px -5px 20px rgb(211, 90, 100);
    }

    50% {
        box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 205)
    }

    100% {
        box-shadow: 5px 5px 20px rgb(211, 90, 100), -5px -5px 20px rgb(211, 90, 100)
    }
}


fieldset {
    border: white;
}


/*------ adding media queries on the home page (min-width:768px) ----*/
@media (min-width: 768px) {
    .content {
        transition: 5s;

    }

    /*--Fix the width of the logo on tablet screen on all pages---*/
    .logo {
        width: 8%;
        margin-left: 70px;
    }

    /*-- Fix the nav on tablet screen on all pages---*/
    nav ul {
        float: right;
    }

    nav ul li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
    }

    nav {
        height: 90px;
    }

    /*---Fix the h1 on the tablet screen on the home page---*/
    .dental {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -60px;
        position: relative;
        right: 90px;
        color: #ff8480;
    }

    /*---Change the font size and color to the links in nav bar on all pages---*/
    ul li a {
        font-size: 25px;
        color: #1e7d81;
        position: relative;
        top: -10px;
    }
    .naste{
        position: relative;
        bottom: 60px;
        
    }

    a:hover,
    a:active {
        color: #ff8480;
    }

    /*---Change the color of the h2 on tablet screen on the home page---*/
    .welcome {
        transform: rotate(3turn);
        color: black;
    }

    /*--Fix the margin of the h4 on the footer---*/
    .gmail {
        margin-top: -30px;
    }

    /*---Adding display none to hide the paragraph1 on the tablet screen on the home page---*/
    .paragraph1 {
        margin-bottom: 20px;
    }

    /*--Styling the header image on the tablet screen on the home page---*/
    .girl {
        margin-left: 80px;
        width: 80%;
        margin-bottom: 700px;
        border-radius: 80px;
    }

    /*--Changing the background of the call-to-action on the home page---*/
    .call-to-action {
        background-color: rgba(0, 0, 0, 0.4);
        background-size: cover;
    }

    /*---Styling the button on the tablet screen on the home page---*/
    .book {
        position: relative;
        top: 10px;
    }

    /*--Fix the old women image on the tablet screen on the home page---*/
    .women {
        justify-content: center;
        width: 100%;

    }


    /*--Using high specificity to change the top of the read more button---*/
    button#neonshadow {
        position: relative;
        top: 20px;
        width: 40%;
    }

    .paragraph2 {
        margin-bottom: 50px;
    }
}

/*--- adding media queries to the home page (min-width: 1720px)---*/
@media screen and (min-width:1720px) {
    .content {
        background-size: cover;
    }

    .content:hover {
        background-image: url(../image/martha.jpg);
        background-repeat: no-repeat;
        background-position: right;
        transition: 1s;
    }

    /*---Fixing the links and logo on the desktop screen on the home page---*/
    nav ul {
        float: right;
        margin-right: 200px;
        position: relative;
        bottom: 100px;
    }
    ul li a {
        position: relative;
        top: 50px;
    }
    .naste{
        position: relative;
        bottom: 100px;
    }

    nav ul li {
        display: inline-block;
        line-height: 100px;
        margin: 0 30px;

    }

    .logo {
        width: 100px;
        margin-left: 200px;
        margin-bottom: 90px;
        height: 80px;
    }

    nav {
        height: 120px;

    }

    nav ul li a {
        text-transform: uppercase;
        border-radius: 10px;
        padding: 1px 10px;

    }


    a:hover {
        background: #1e7d81;
        transition: .5s;
        border-radius: 200px;

    }

    .active {
        color: #1e7d81;
    }

    /*--Fixing the h2 on the desktop screen on the home page---*/
    .welcome {
        width: 100%;
        margin: 20px;
        position: relative;
        top: 65px;
        color: #3c3b3a;
        animation: bounceIn 0.6s;
        transform: rotate(0deg) scale(1) translateZ(0);
        transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
        cursor: pointer;
    }

    .welcome:hover {
        color: #ff8480;
        transition: 1s;
    }

    /*--Fixing the button on the desktop screen on the home page---*/
    .book {
        margin: 50px;
        top: -10px;
        left: 5px;
    }

    /*---Adding border-radius and box-shadow to the call-to-action on the desktop screen on the home page---*/
    .call-to-action {
        border-radius: 80px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 5px;
        display: flex;
        justify-content: center;
        margin-left: 600px;
        margin-right: 700px;
        background-color: rgba(0, 0, 0, 0.4);
        position: relative;
        top: 2rem;
    }

    /*---Changing the background color to the nav bar on the desktop screen on the home page---*/
    ul li a {
        background-color: #ff8480;
        margin-top: -200px;
    }

    /*---Make the h1 on the center on the desktop screen on the home page---*/
    .dental {
        justify-content: center;
        margin-top: -120px;

    }

    .dental:hover {
        color: #ff8480;
        transition: 1s;
    }

    /*---Hide the paragraph2 on the desktop screen on the home page---*/
    .paragraph2 {
        display: none;

    }

    /*-- Fixing paragraph 1 on the desktop at the home page---*/
    .paragraph1 {
        line-height: 30px;
        font-size: 30px;
        position: relative;
        top: 800px;
        margin-left: 100px;
        margin-right: 1200px;
    }

    /*---Fixing the read more button on the desktop screen on the home page---*/
    button#neonshadow {
        width: 10%;
        top: -300px;
        left: 400px;
    }

    /*---Fixing the old women image on the desktop screen on the home page---*/
    .women {
        display: none;
    }

    .girl {
        position: relative;
        bottom: 200px;
        width: 33%;
    }
}

/*---- style the footer on all pages on mobile screen ---*/
footer {
    background-color: #3c3b3a;
    width: 100%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    color: white;
}

/*---Making hover to the icons on the mobile screen on all pages---*/
.fa:hover {
    opacity: 0.7;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gmail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-weight: lighter;

}

.copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-weight: lighter;
}

.arrow {
    margin-left: 235px;
    height: 20px;
}

.back {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10px;
}


/*--- add media queries min-width 768px to the icons on the footer on all pages ---*/

@media (min-width:768px) {
    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 50px;
    }

    /*---Fixing the h4 on the footer on the tablet screen on all pages---*/
    .gmail {
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
        position: relative;
        bottom: 15px;

    }

    .copy {
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
        position: relative;
        bottom: 15px;
    }

    /*--Changing the font-size of the h4 on the tablet screen on all pages---*/
    .gmail {
        font-size: 15px;
    }

    .copy {
        font-size: 15px;
    }

    /*---Hide back to top on the tablet screen on the home page---*/
    .top {
        display: none;
    }

    .im {
        display: none;
    }

    /*---Fixing the h1 on the tablet screen---*/
    .dental {
        margin-right: 90px;
    }


}

/*--- adding media queries to the footer in min-width 1720px ---*/
@media screen and (min-width:1720px) {

    /*--Fixing the h4 on the footer on the desktop screen on all pages----*/
    .gmail {
        justify-content: flex-start;
        margin-left: 20px;
    }

    .copy {
        justify-content: flex-start;
        margin-left: 20px;
        bottom: 5px;
      
    }

    /*---Fixing the arrow on the desktop screen on all pages---*/
    .arrow {
        margin-left: 950px;
        position: relative;
        bottom: 20px;
    }
    .back{
        position: relative;
        bottom: 20px;
    }

}

/*--- adding media queries to the arrow in the footer to fix it min-width 2282px---*/
@media (min-width:2282px) {

    /*---Fixing the arrow on the other width screen on the home page---*/
    .arrow {
        margin-left: 1115px;
    }
}

/*--- Styling (about) page ---*/
/*---Changing the top of the logo on the about page on mobile screen----*/
.logo {
    top: 10px;
}

/*--Styling the body on the about page---*/
.about {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*---Styling the title on the about page on the mobile screen---*/
.title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: -130px;
    color: white;
    transition: 5s;
    object-fit: scale-down;
    transform: rotate(3turn);
    color: #ff8480;
}

/*---Styling the image-container on the about page---*/
.image-container {
    height: 500px;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/*---Adding transition between the images to make animation on the mobile screen and all screens on the about page---*/
.transition-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.transition-image:hover {
    opacity: 1;
}

/*---Styling the h1 on the about page---*/
.doctors {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: -70px;
}

.doctors:hover {
    color: #1e7d81;
}

/*---Styling the image on the about page---*/
.team {
    width: 100%;
    padding: 10px;
    position: relative;
    top: 20px;
    margin-top: 70px;
}

/*--Styling paragraph-1 and 2 on the about page---*/
.paragraph-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.paragraph-2 {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 20px;
}

/*--Styling the button class services on the about page---*/
.services {
    padding: 10px;
    margin: 30px;
    margin-left: 120px;
    border-radius: 100px;
    width: 50%;
    position: relative;
    bottom: -90px;

}

/*--Styling the image on the about page---*/
.our-team {
    display: flex;
    justify-content: center;
}

/*---Styling the dr.Emily name on the about page---*/
.doe {
    position: relative;
    top: -300px;
    margin-left: 50px;
}

.doc-1 {
    font-size: 20px;
    margin-left: 20px;

}

/*---Styling dr.Natasha name on the about page---*/
.rite1 {
    position: relative;
    top: -300px;
    margin-left: 250px;
}

.doc-2 {
    font-size: 20px;
    margin-left: 20px;
}

/*--Styling dr.Emily and Natasha image on the about page---*/
.emily {
    width: 100%;
    padding: 10px;
    box-shadow: none;
}

.natasha {
    width: 100%;
    padding: 10px;
    box-shadow: none;
}

/*---Styling visit-us button on the about page---*/
.visit {
    position: relative;
    left: 70px;
    bottom: -60px;
}

/*--- Adding media quries min-width: 768px to the about page---*/
@media screen and (min-width: 768px) {

    /*--Fixing the arrow on the tablet screen on the about page---*/
    .arrow {
        margin-left: 400px;
    }

    /*---Fixing the image on the tablet screen on the about page ---*/
    .image-container {
        width: 70%;
        margin-top: 50px;
    }

    /*---Adding box-shadow to the paragraph-1 on the tablet screen on the about page---*/
    .paragraph-1 {

        margin-left: 590px;
        margin-right: -200px;
        position: relative;
        top: -500px;
        box-shadow: #bdc6ca 5px 5px 5px 5px;
    }

    /*---Fixing the contact-us button on the tablet screen on the about page---*/
    .services {
        top: -50px;
        right: -80px;
    }

    /*-- Adding box-shadow to the image on the tablet screen on the about page---*/
    .team {

        margin-top: -50px;
    }

    /*---Adding display grid to the teams div on the tablet screen to fix it on the about page---*/
    #teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 0;
        grid-template-areas:
            "header header"
            " ser1 main"
            "ser2 side";
    }

    .our-team {
        grid-area: header;
        grid-column: 1 / span 2;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 50px;
    }

    .emily {
        grid-area: main;
        grid-row: 2 / span4;
        grid-column: 1/2;
        box-shadow: rgba(0, 0, 0, 0.1) 20px 20px 20px;
    }

    .paragraph-1 {
        grid-area: ser1;
        grid-row: 1/2;

    }

    .rite1 {
        grid-area: ser2;
        grid-column: 1 / span 2;
    }

    .natasha {
        grid-area: side;
        grid-column: 2/3;
        box-shadow: rgba(0, 0, 0, 0.1) 20px 20px 20px;
    }

    /*---Fixing the h2 on the tablet screen on the about page---*/
    .doe {
        top: -200px;
    }

    /*---Adding hover and transition to the h2 (Our Doctors) to change it to another color on the about page---*/
    .our-team:hover {
        color: #ff8480;
        transition: 0.8s;
    }
}

/*--- media min width 1720 about page----*/
@media screen and (min-width:1720px) {

    /*---Adding background image to the h1 on the desktop screen on the about page----*/
    .doctors {
        background-image: url(../image/blue\ clinic.jpg);
        background-repeat: no-repeat;
    }

    /*---Changing the font size of the title on the desktop screen on the about page---*/
    .title {
        font-size: 50px;

    }

    /*---Changing the arrow margin on the desktop screen on the about page---*/
    .arrow {
        margin-left: 49.5%;
    }

    /*---Changing the width of the image-container on the desktop screen on the about page---*/
    .image-container {
        width: 50%;
        margin-top: 50px;

    }

    /*--Adding border-radius and box-shadow to the transition-image on the about page---*/
    .transition-image {
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 20px;
    }

    /*--Adding border-radius to the group image on the about page---*/
    .group {
        border-radius: 50%;
    }

    /*---Changing the color of the contact-us font on the desktop screen on the about page----*/
    .services {
        width: 50%;
        margin-left: 10px;
        padding-bottom: 50px;
        color: aliceblue;

    }

    /*---Adding transform skew to the h2 (Our Doctors) on the about page----*/
    .our-team {
        transform: skew(10deg);
        transition: 6s;
        color: #1e7d81;
        font-size: 100px;
    }

    /*---Changing the color of h2 by adding hover to it on the about page---*/
    .our-team:hover {
        color: #ff8480;
    }

    /*---Adding display grid to the teams on the desktop screen on the about page----*/
    #teams {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0;
        row-gap: 0;
        grid-template-areas:
            "header header"
            " ser1 main"
            "ser2 side";
    }

    .our-team {
        grid-area: header;
        grid-column: 1 / 2;
    }

    .emily {
        grid-area: main;
        grid-row: 2 / span4;
        grid-column: 1/2;
    }

    .paragraph-1 {
        grid-area: ser1;
        grid-row: 1/2;
        background-color: #ff8480;
        border-radius: 10px;
        width: 70%;
        font-size: 30px;
    }

    .paragraph-1:hover {
        color: #1e7d81;
        transition: 2s;
    }

    .rite1 {
        grid-area: ser2;
        grid-column: 1 / span 2;
    }

    .natasha {
        grid-area: side;
        grid-column: 2/3;
    }

    /*---Fixing the h2 on the desktop screen on the about page---*/
    .doe {
        top: -200px;
    }

    /*---Fixing the visit-us button on the desktop screen on the about page----*/
    .visit {
        position: relative;
        left: 600px;
        padding: 100px;
        font-size: 30px;
    }

    /*---Adding display grid to the wrapper class on the desktop screen on the about page---*/
    .wrapper {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "header ser1 ser2"
            "main  ser3  side";

    }

    .image-container {
        grid-column: 1 / 2;
        grid-area: header;
        width: 100%;


    }

    .paragraph-1 {
        grid-column: 1/4;
        grid-row: 5/6;
        grid-area: ser2;
        position: relative;
        left: 700px;

    }

    .paragraph-2 {
        grid-column: 2/ span 4;
        grid-row: 2/4;
        grid-area: main;
        position: relative;
        bottom: -100px;
        right: -640px;


    }

    .team {
        grid-column: 1 / span 2;
        grid-area: side;
        height: 500px;
        border-radius: 0;
        margin-top: 30px;
        box-shadow: none;
    }

    .doctors {
        grid-column: 2 /4;
        grid-row: 1/2;
        grid-area: ser3;
        font-size: 70px;
        position: relative;
        right: 600px;
        top: 30px;
    }

    .services {
        grid-row: 2/3;
        grid-area: ser1;
        left: 150px;
        font-size: 20px;
    }

    ul li a {
        position: relative;
        bottom: -50px;
    }

    .menu {
        bottom: -10px;
    }

}

/*---- styling the(contact page) ---*/
/*---Styling the flier image by adding animation content to it on the contact page---*/
.flier {
    pointer-events: none;
}

.tooth {
    width: 20%;
}

.flier>* {
    /* Adjust animation duration to change the element’s speed */
    animation: fly 50s linear infinite;
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
}

/* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

    98.001%,
    0% {
        display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%,
    18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%,
    43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%,
    68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}

/*---Styling the body page class contact on the contact page---*/
.contact {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/*---Styling the h1 class phone name (contact-us) on the contact page---*/
.phone {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: -130px;
    color: white;
    transition: 2s;
    transform: rotate(3turn);
    color: #1e7d81;
}

/*--- styling section form on the contact page on mobile screen ---*/
.contact-us {
    color: #222;
    font-weight: bold;
    padding-bottom: 50px;

}

.fill-the-form {
    display: flex;
    justify-content: center;
    color: #222;
    font-weight: bold;
    font-size: 25px;

}

label {
    color: #222;
    display: block;
    font-weight: bold;
    font-size: 23px;
    margin: 20px 20px;
}

input {
    color: #222;
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 10px;

}

textarea {
    color: #222;
    display: block;
    width: 100%;
    height: 130px;
    border-radius: 10px;
}

.submit {
    height: 40px;
    width: 70px;
    margin: 20px 20px;

}

/*---Adding background image to the form on the contact page on the mobile screen---*/
.submission-form {
    box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 20px;
    background-image: url(../image/form-img.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    height: 90%;
}

/*---Adding another background image by hover and using transition to the form on the contact page---*/
.submission-form:hover {
    background-image: url(../image/green.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 2s;
}

/*--Adding display flex to the paragraph class modern on the contact page----*/
.modern {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

/* styling the table of hours on the contact page */

.hours {
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;

}

table {
    margin: 20px;
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

th {
    color: #222;
    text-align: center;
    background-color: #ff8480;
    padding: 20px;
    font-weight: bold;
}

th:hover {
    background-color: #1e7d81;
    transition: 1s;
}

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid #000;
}

td {
    color: #222;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

caption {
    font-size: 25px;
    font-weight: bold;
}


/*---- styling the location on the contact page ----*/
.map {
    position: relative;
    top: 60px;
    left: 100px;
}

.loc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #222;
    font-size: 25px;
    padding: 20px;
    margin-left: -10px;
}

iframe {
    width: 100%;
    border-radius: 10px;
}

/*--- adding min-width: 768px to the contact page ---*/
@media screen and (min-width: 768px) {

    /*---Changing the color of the h1 (contact-us) on the tablet screen on the contact page---*/
    .phone {
        color: #ff8480;
        position: relative;
        left: 15px;
    }

    /*---Changing the background-image on the form on the tablet screen on the contact page---*/
    .submission-form {
        background-size: 100%;
        background-image: url(../image/martha.jpg);
        background-repeat: no-repeat;

    }

    /*---Changing the width of the input and textarea on the form on the tablet screen on the contact page---*/
    input {
        width: 50%;
    }

    textarea {
        width: 50%;
    }

    .transform {
        margin-right: 100px;
    }

    /*---Changing the color of the h3 on the tablet screen on the contact page---*/
    .fill-the-form {
        color: #1e7d81;
    }

    /*---Changing the font-size of the paragraph on the tablet screen on the contact page---*/
    .modern {
        font-size: 25px;
    }

    /*--- Making hover of the paragraph to change the color of it on the tablet screen on the contact page---*/
    .modern:hover {
        color: #ff8480;
        transition: 1s;
    }


}

@media screen and (min-width:1720px) {

    /*---Changing the background image on the form on the desktop screen on the contact page---*/
    .submission-form {
        background-image: url(../image/dr.gina.jpg);
        background-repeat: no-repeat;
        width: 80%;
        position: relative;
        left: 100px;
        right: 100px;
    }

    /*---Adding another background image to the form on the desktop screen by hover and transition on the contact page----*/
    .submission-form:hover {
        background-image: url(../image/dr-emily.jpg);
        background-repeat: no-repeat;
        transition: 1s;
    }

    /*---Adding background image to the paragraph on the desktop screen on the contact page---*/
    .modern {
        background-image: url(../image/teeth\ 2jpg.jpg);
        background-repeat: no-repeat;
        background-size: 20%;
        color: #1e7d81;
        margin-left: 1000px;
        font-size: 40px;
    }

    /*--Changing the color of the paragraph by hover and transition 2s on the contact page---*/
    .modern:hover {
        color: #3c3b3a;
        transition: 2s;
    }

    /*--Adding display grid to the item3 to organize the desktop screen on the contact page----*/
    #item3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main ser1";
    }

    .submission {
        grid-column: 1/3;
        grid-row: 1/2;
        grid-area: header;
        width: 50%;
    }

    .location {
        grid-area: main;
        grid-column: 1/3;
    }

    .hours {
        grid-area: ser1;
        width: 50%;
        grid-row: 1/3;
        grid-column: 2/4;
        position: relative;
        left: 900px;
        top: -500px;
    }

    .fill-the-form {
        justify-content: flex-start;
        margin-left: 200px;
    }

    /*---Fixing the font size on the desktop screen on contact page---*/
    .loc {
        font-size: 40px;
    }
}